@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-container{
  @apply max-w-[1100px] mx-auto
}
a:hover{
  color: green;
}
.menu-btn{
  @apply font-semibold uppercase px-4 py-3 inline-block hover:bg-slate-100
}
input[type=text]:focus {
  border: 1px solid rgb(15, 204, 15);
}
.default-btn{
  @apply py-1 px-2 font-semibold bg-slate-100 rounded-md
}

/* header */
header{
  @apply flex justify-between items-center p-2 bg-slate-50 sticky top-0 left-0 z-30
}
.title{
  @apply text-2xl font-bold text-primary
}

/* posting */
.post{
  @apply relative border-b py-4
}
.post:hover h3{
  color: green;
}
.d-btn{
  @apply border px-3 py-1 rounded-md absolute top-6 right-2
}
.d-link{
  @apply text-accent italic
}
.steps{
  @apply px-2 py-1 border border-blue-500 rounded-full text-blue-500 font-semibold
}
.desc{
  @apply text-[#1E2A5E] py-2
}