@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-container{
  @apply max-w-[1100px] mx-auto
}
a:hover{
  @apply text-primary underline
}
p{
  @apply text-secondary
}
h2{
  @apply text-xl md:text-2xl font-medium md:font-bold text-primary 
}
h3{
  @apply font-semibold
}
.active{
  @apply font-medium md:font-semibold text-sm uppercase px-4 py-3 block md:inline-block bg-primary
}
.default{
  @apply font-medium md:font-semibold text-sm uppercase px-4 py-3 block md:inline-block hover:bg-primary
}
input{
  @apply border py-2 px-3 w-full rounded-md
}
input[type=email], input[type=password], input[type=text]:focus {
  outline-color: #d0e6f7;
  color: red;
}
textarea{
  outline-color: #d0e6f7;
  color: red;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  padding: 8px;
}
textarea:focus{
  outline-color: #d0e6f7;
}
.default-btn{
  @apply py-1 px-2 font-semibold bg-slate-100 rounded-md
}

/* header */
/* @apply p-2 sticky top-0 left-0 z-30 */
header{
  @apply p-2
}
/* .title{
  @apply text-2xl font-bold text-primary
} */

/* posting */
.home-container{
  @apply flex md:flex-row md:justify-between gap-8 justify-center flex-col-reverse my-container
}
.post{
  @apply rounded-md bg-secondary mt-2 p-3 border md:flex justify-between items-center
}
.d-btn{
  @apply border text-sm px-4 font-medium bg-primary py-1
}
.d-link{
  @apply text-accent italic
}
.comment{
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 justify-between items-center
}
/* footer */
.footer-link{
  @apply py-2
}
.footer-link li{
  @apply underline
}

/* dashboard */
.dashboard-menu{
  @apply flex gap-2 px-3 py-2 hover:bg-[#9eabf5] hover:text-white rounded-md my-1
}
.d-active{
  @apply flex gap-2 px-3 py-2 bg-[#9eabf5] text-white rounded-md cursor-pointer
}

/* login error */
.middle-container{
  @apply bg-slate-100 md:flex justify-center items-center md:h-screen
}
.middle-content{
  @apply bg-white p-4 rounded-md text-secondary
}

/* sidebar */
.aside-item{
  @apply p-2 bg-secondary border rounded-md
} 