@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-container{
  @apply max-w-[1100px] mx-auto
}
a:hover{
  @apply text-primary
}
p{
  @apply text-secondary
}
h2{
  @apply text-xl md:text-2xl font-medium md:font-bold text-primary 
}
h3{
  @apply font-semibold
}
.active{
  @apply font-medium md:font-semibold text-sm uppercase px-4 py-3 block md:inline-block bg-slate-100
}
.default{
  @apply font-medium md:font-semibold text-sm uppercase px-4 py-3 block md:inline-block hover:bg-slate-100
}
input{
  @apply border py-2 px-3 w-full rounded-md
}
input[type=email], input[type=text]:focus {
  outline-color: #d0e6f7;
  color: red;
}
textarea:focus{
  outline-color: #d0e6f7;
}
.default-btn{
  @apply py-1 px-2 font-semibold bg-slate-100 rounded-md
}

/* header */
header{
  @apply p-2 bg-slate-50 sticky top-0 left-0 z-30
}
/* .title{
  @apply text-2xl font-bold text-primary
} */

/* posting */
.home-container{
  @apply flex md:flex-row md:justify-between gap-4 justify-center flex-col-reverse my-container
}
.post{
  @apply relative border-b py-4
}
/* .post:hover h3{
  color: green;
} */
.d-btn{
  @apply border text-sm px-4 font-medium bg-primary py-1
}
.d-link{
  @apply text-accent italic
}
.steps{
  @apply px-2 py-1 border border-blue-500 rounded-full text-blue-500 font-semibold
}
.comment{
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 justify-between items-center
}
/* footer */
.footer-link{
  @apply py-2
}
.footer-link li{
  @apply underline
}
